<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="navbar-nav">
        <a class="nav-item nav-link" [class.active]="aba=='Home'" (click)="aba='Home'" href="#">Home <span class="sr-only">(Página atual)</span></a>
        <a class="nav-item nav-link" [class.active]="aba=='Mapa'" (click)="aba='Mapa'" href="#">Mapa</a>
        <a class="nav-item nav-link" [class.active]="aba=='Lista'" (click)="aba='Lista'" href="#">Lista</a>
    </div>
</nav>
<div [ngSwitch]="aba" class="container">
    <div *ngSwitchCase="'Mapa'">Mapa ativado</div>
    <div *ngSwitchCase="'Lista'">Lista ativado</div>    
    <div *ngSwitchDefault>Home ativado</div>
</div>